<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <br>
    <br>
    {{nomap}}! 
    <br>
    Correo: {{correo}} 
    <br>
    <br>
    
  </h1>
  <img width="800" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Periodic_table_large-es-updated-2018.svg/500px-Periodic_table_large-es-updated-2018.svg.png">
</div>
<br>
<br>
<div style="text-align:center;">
<table border="1" style="margin: 0 auto;">
  <tr *ngFor="let fila of Quimicos, let i = index" [ngSwitch]="fila.metal">
    <td [ngStyle]="{color: fila.categoria=='alcalino' ? 'green' : 'blue'}">{{fila.nombre}}</td>
    <td>{{fila.simbolo}}</td>
    <td>{{fila.numero}}</td>
    <td>{{fila.peso}}</td>
    
  </tr>
</table>
</div>
<router-outlet></router-outlet>




